<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="http://lrug.org/styles.css" />
    <style>
      /* Temporary overrides */
      #page {
        width: auto;
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
      }
    </style>
    
    <link rel="shortcut icon" href="http://assets.lrug.org/favicon.ico" />
    <link rel="icon" href="http://assets.lrug.org/favicon.ico" /> 
  </head>
  <body id="page">
    <div id="content">{{ content }}</div>
  </body>
</html>
